# Lab: Hypothesis Tests üìî‚ùî
In this lab, you will conduct hypothesis tests on the Hello Dataset! 

A few tips to remember:

- **You are not alone on your journey in learning programming!**  You have your lab TA, your CAs, your lab group, and the professors (Prof. Wade and Prof. Karle), who are all here to help you out!
- If you find yourself stuck for more than a few minutes, ask a neighbor or course staff for help!  When you are giving help to your neighbor, explain the **idea and approach** to the problem without sharing the answer itself so they can have the same **<i>ah-hah</i>** moment!
- We are here to help you!  Don't feel embarrassed or shy to ask us for help!

Let's get started!

In [28]:
# Meet your CAs and TA if you haven't already!
# ...first name is enough, we'll know who they are! :)
ta_name = "Eric Wayman"
ca1_name = ""
ca2_name = ""
ca3_name = ""

# Say hello to each other!
# - Groups of 3 are ideal :)
# - However, groups of 2 or 4 are fine too!

# QOTD to ask your group: What is your favorite Thanksgiving dinner food?
partner1_name = "Gabby Escutia"
partner1_netid = ""
partner1_favfood = "Mashed Potatoes"

partner2_name = "Melissa Brito"
partner2_netid = ""
partner2_favfood = "Pumpkin Pie"

partner3_name = ""
partner3_netid = ""
partner3_favfood = ""

<hr style="color: #DD3403;">

# Part 1: Sleep
Remember the Hello Survey you took towards the beginning of the semester? Well, we are bringing it back! We're going to conduct hypothesis tests using **your Hello Dataset**. Specifically, we will answer this question: 

> **Do UIUC students get significantly different sleep compared to the average American?**

First, as always, we must import the Hello Dataset. 

The "Hello Dataset" is available here:
```
https://waf.cs.illinois.edu/discovery/hello-fa24.csv
```

Use Python to load this dataset into a DataFrame called `df_hello`:

In [29]:
import pandas as pd
df_hello =  pd.read_csv("https://waf.cs.illinois.edu/discovery/hello-fa24.csv")
df_hello

,Name,Lab,"When flipping a coin, heads or tails?",Is this your first year at UIUC?,Is your favorite ice cream flavor chocolate or vanilla?,Do you like morning or night?,Do you prefer even or odd numbers?,Do you have a pet?,Do you prefer summer or winter?,Are you a business major?,...,"Besides the US, what country would you like to live in?",What is your favorite color?,Favorite way to spend your free time?,What genre of music do you like the most?,"If you were an animal, which would you be? / What is your spirit animal?",What do you think is the hardest major at UIUC?,Who is your favorite music artist?,What's your favorite social media app?,What is your favorite game to play (either video game or IRL)?,Where is your dream vacation spot?
0,Prof. Karle,"AL1, AL2",Heads,Not First Year,Chocolate,Night,Even,No,Summer,No,...,The Maldives,pink,water skiing!,pop,sloth,Computer Science,Taylor Swift,Instagram,volleyball,The Maldives
1,Prof. Wade,"AL1, AL2",Tails,Not First Year,Vanilla,Night,Odd,Yes,Winter,No,...,Sweden,Purple,Programming,Pop,Fox,Computer Science,Taylor Swift,YouTube,Factorio,Acadia
2,Angelina,Y13,Tails,First Year at UIUC,Vanilla,Morning,Even,Yes,Summer,No,...,Hong Kong,Pink,Watching shows,r&b,Tiger,Aerospace engineering,Ashley Alisha,Insta,NaN,Southern France
3,TA Tyler,"Y07, Y10, Y20",Tails,Not First Year,Chocolate,Night,Even,No,Winter,No,...,Canada,Orange,Terraria,Pop rock,Bee,Chemical Engineering,Billy Joel,Reddit,Terraria,My apartment
4,Sneha,Y17,Tails,First Year at UIUC,Vanilla,Night,Even,No,Summer,Yes,...,Canada,Green,Reading or crocheting,Pop Rock,Penguin,Computer Science,Imagine Dragons,Instagram,Beat Saber,Italy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1089,RuohanLiu,Y25,Tails,Not First Year,Chocolate,Night,Odd,Yes,Winter,No,...,Chian,blue,travel,pop,cat,math,Talyor swift,ins,PUBG,Alaska
1090,Morgan,Y03,Heads,Not First Year,Vanilla,Night,Odd,No,Summer,No,...,England,Blue,Listening to music while drawing,LoFi,An Eagle,ECE,Smyang Piano,Instagram,Overcooked,NYC during Christmas time
1091,Auggie,Y08,Heads,Not First Year,Chocolate,Night,Odd,Yes,Summer,No,...,Canada,blue,hangout with friends,Country,Dog,Actuarial Science,Zach Bryan,tik tok,Card games,Mountains
1092,Rebeca,Y10,Tails,Not First Year,Chocolate,Morning,Even,Yes,Summer,No,...,Costa Rica,Red,Reading or playing music,Indie folk and EDM,Dog,Engineering or computer science,Cosmos Sheldrake,Pintrest,DND,Beach
1093,Tyler,Y26,Heads,First Year at UIUC,Vanilla,Night,Even,No,Winter,No,...,China,Blue,video games,Metal,jaguar,CS,Bullet for My Valentine,Bilibili,Honor of Kings,Japan

### üî¨ Test Case Checkpoint üî¨

In [30]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED 373all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert("df_hello" in vars()), "Make sure your DataFrame is called `df_hello`."
assert("Are you a business major?" in df_hello), "This is not the Hello Dataset you're looking for. Check the URL."
assert(len(df_hello) == 1094), "This is not the Hello Dataset you're looking for. Check the URL."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

## Setting Up The Test
In 2013, [Gallup completed their latest survey on sleep](https://news.gallup.com/poll/166553/less-recommended-amount-sleep.aspx) that shows that the average amount of sleep Americans get is **6.8 hours**.  

To determine whether UIUC students get significantly more or less sleep than the average American, we will treat the **FALL 2024 students in DISCOVERY** as a **random sample** of the student population at UIUC. Then, we will conduct a **one-sample z-test** to answer our question. 

Before we begin, we must define our hypotheses. Remember, the average amount of sleep found in Gallup's study is **6.8** hours, and we want to determine if our random sample is **significantly different** from this average. 

**Q1: Write your null and alternative hypothesis using the cell below.** *Hint: you may find the following symbol useful for the alternative hypothesis: $\neq$ (double-click on this cell to copy it)*

Null hypothesis: 

The average amount of sleep for UIUC students the average amount of sleep for Americans: $H_0$: $\mu$ = 6.8.

Alternative hypothesis:

The average amount of sleep for UIUC students is significantly different from the average amount of sleep for Americans: $H_a$: $\mu$ $\neq$ 6.8.

## Puzzle 1.1: Summary Statistics
Now that we've defined our hypotheses, we will need to find some basic **summary statistics** about the **average hours of sleep** of students in DISCOVERY before we conduct our **z-test**. Our `df_hello` contains the average hours of sleep of students in DISCOVERY under the column named "How many hours do you sleep in a night?".

Assign this column name to a **string variable** named `sleep_question` using the cell below:

In [31]:
sleep_question = "How many hours do you sleep in a night?"
sleep_question

'How many hours do you sleep in a night?'

Now, using `sleep_question` and your `df_hello`, find the **mean hours of sleep** of everyone in DISCOVERY, storing the result in the **variable** `sleep_mean`:

In [32]:
sleep_mean = df_hello[sleep_question].mean()
sleep_mean

np.float64(7.220695970695971)

Next, find the **standard deviation** of hours of sleep of everyone in DISCOVERY, storing the result in the **variable** `sleep_std`:

In [33]:
sleep_std = df_hello[sleep_question].std()
sleep_std

np.float64(1.108384953602899)

Finally, find the **sample size** we're using for this z-test, storing the result in the **variable** `sample_size`. 

There's something a little tricky about the data we have in this column. Some people haven't filled out the answer to this captivating question, causing `NaN` (empty) values to appear. Dealing with **null values** is a **common occurrence** in data science. To exclude empty values when finding the sample size, the `.count()` function will be useful, as it excludes cells with NaN values when counting columns or rows.

In [34]:
sample_size = df_hello[sleep_question].count()
sample_size

np.int64(1092)

### üî¨ Test Case Checkpoint üî¨

In [35]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
import math
names = ['sleep_question', 'sleep_mean', 'sleep_std', 'sample_size']
for name in names:
    assert(name in vars()), "Double check that your variables are named correctly."

assert(isinstance(sleep_question, str)), "Make sure your `sleep_question` is a string."
assert(len(sleep_question) == 39), "Make sure the `sleep_question` contains the value of the sleep question."
assert(math.isclose(df_hello[sleep_question].var(), 1.2285172053733004)),"Double check the column question text you've defined in 'sleep_question'." 
assert(math.isclose(sleep_mean, 7.220695970695971)), "Your 'sleep_mean' is incorrect."
assert(math.isclose(sleep_std, 1.108384953602899)), "Your 'sleep_std' is incorrect."
assert(sample_size**2 / 8 == 149058), "Your 'sample_size' is incorrect. Make sure you are excluding empty values when finding the sample size."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

## Puzzle 1.2: Finding our P-value
Now that we've **calculated and stored** the necessary statistics, we can begin calculating the **p-value** and drawing conclusions about our hypotheses. For the purposes of this lab, we will utilize a significance level of $0.05$. 

Make sure to remember whether we are doing a one-tailed or two-tailed z-test when finding your p-value!


Now, calculate the **standard error** of the hours of sleep of DISCOVERY students, storing the result in the **numeric variable** `standard_error`.

In [36]:
standard_error = sleep_std / (sample_size) ** 0.5
standard_error

np.float64(0.03354125453581538)

Next, **calculate our test statistic** given the `sleep_mean` and `standard_error` found above, storing the result in the **numeric variable** `z_stat`. 

Remember: $z = \frac{\bar X \text{- EV}}{\text{SE}}$, where $z$ is the test statistic for a z-test and your EV for this hypothesis test is **6.8** hours of sleep :)

In [37]:
z_stat = (sleep_mean - 6.8)/standard_error
z_stat

np.float64(12.542642680426622)

Finally, we can calculate our p-value! Find it and store our p-value in the **variable** `p_value`.

In [38]:
from scipy.stats import norm
p_value = 1-norm.cdf(z_stat)
p_value

np.float64(0.0)

Remember, the p-value is the probability of getting the data we have in DISCOVERY's `df_hello` or something even more extreme **if the null were true**.

### üî¨ Test Case Checkpoint üî¨

In [39]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
names = ['standard_error', 'z_stat', 'p_value']
for name in names:
    assert(name in vars()), "Double check that your variables are named correctly."

assert(math.isclose(standard_error, 0.03354125453581538)), "Your 'standard_error' is incorrect."
assert(math.isclose(z_stat, 12.542642680426622)), "Your 'z_stat' is incorrect."
assert(math.isclose(p_value, 4.3620252844514514e-36, abs_tol=1e-08)), "Your 'p_value' is incorrect. Try and visualize the normal distribution and the areas to the left or right of your z_stat."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

### Analysis: Interpretation 
**Q2: We have now calculated the p-value for our hypothesis test. Do we reject the null hypothesis? Explain why or why not. Explain what this means in the context of our original question: Do UIUC students get significantly different sleep compared to the average American?**

**Make sure you answer *both* questions.**  Remember, our significance level is $0.05$.

Our calculated **p-value** $< 0.05$, since it is below our significance level of 0.05, we may reject the null hypothesis. This indicates that we have sufficient evidence that UIUC students do not get signifcantly different sleep compared to the average American.

## Doing it in Python
We had to do a significant amount of calculations by hand to find our p-value. 

Luckily, Python has a few **libraries** which contain **functions** that allow us to conduct our hypothesis tests without doing the calculations by hand. 

Before we run these hypothesis test functions, we must **install** and `import` the library they belong to. 

To install the `statsmodels` library, try running any one of following commands in your **terminal** until successful installation:
- `python3 -m pip install statsmodels`
- `py -m pip install statsmodels`
- `pip install statsmodels`
- `pip3 install statsmodels`


Then, **run** the following `import` statement:

In [40]:
from statsmodels.stats.weightstats import ztest

This imports the `weightstats` class from the `statsmodels.stats` library, containing the function we need to perform **z-tests** in Python.

The function we will be using is `weightstats.ztest()`. This function will take **three parameters** in the following order:
1. A `list` of sampled values, where a `df["column"]` is something that can be read as a list
2. The **expected value** of the null hypothesis, specified using `value=`
3. The **alternative hypothesis** to the null value (either 'two-sided', 'larger', or 'smaller', specified using `alternative=`)

To learn more about **z-test function**, visit: https://www.statsmodels.org/dev/generated/statsmodels.stats.weightstats.ztest.html

## Puzzle 1.3: z-test in Python
Now, let's run the our z-test! Using the cell below, call the `ztest()` function to conduct our z-test and store the results in the variable `sleep_results`.

Use your knowledge about our **type of hypothesis test** and the **national sleep average** to fill in the `...`
- **IMPORTANT**: When doing the test, you must use `df["column"].dropna()` to make sure to not include any `NaN values` since this z-test function requires that there are no missing values.

In [41]:
sleep_question = df_hello[sleep_question].dropna()
sleep_results = ztest(sleep_question, value=6.8, alternative='two-sided')
sleep_results

(np.float64(12.542642680426622), np.float64(4.362025284451451e-36))

If you print `sleep_results`, it should be a pair of **two values** in the form of $(z, p)$ where $z$ is the test statistic and $p$ is the `p-value`. If done correctly, these values should be **almost identical** to what you calculated by hand.

### üî¨ Test Case Checkpoint üî¨

In [42]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert('sleep_results' in vars()), "Double check your variable name for z-test result. It should be named 'sleep_results'."
assert(math.isclose(sleep_results[0], 12.542642680426622)), "The z-stat of your z-test is incorrect."
assert(math.isclose(sleep_results[1], 4.3620252844514514e-36, abs_tol=1e-36)), "The p-value of your z-test is incorrect."
assert(math.isclose(sleep_results[0], z_stat)), "Your z-stat from sleep_result should be equivalent to the 'z_stat' variable defined earlier."
assert(math.isclose(sleep_results[1], p_value, abs_tol=1e-35)), "Your p-value from sleep_result should be equivalent to the 'p-value' variable defined earlier."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

<hr style="color: #DD3403;">

# Part 2: Do Night Owls Get Less Sleep?

Let's do a second hypothesis test -- there's a fiery debate among course staff on if morning people or night owls get more sleep!

We believe that **night owls stay up very late (but still have to get up early for classes) and will get less sleep than morning people**.

To answer, we will perform a **one-sided two-sample z-test**. Two-sample z-tests compare two samples to each other and are very common in statistics!

### Defining Our Hypotheses
**Q3: Define the null and alternative hypotheses using the cell below.**

Null hypothesis: Night owls get the same amount of sleep as morning people.

$H_0$: $\mu_{1} = \mu_{2}$

Alternative hypothesis: Night owls get less sleep than morning people.

$H_a$: $\mu_{1} < \mu_2$

## Puzzle 2.1: Find the Columns
Now, let's run the our z-test! 

To make our code **simpler and readable**, in the next cell, create two variables for future column subselection from our `df_hello`:
1. A **string variable** named `morning_vs_night_question`, containing the **string**: "Are you a morning person or a night person?"
2. A **string variable** named `hours_of_sleep_question`, containing the **string**:  "How many hours do you sleep in a night?"

In [43]:
morning_vs_night_question = "Are you a morning person or a night person?"
hours_of_sleep_question = "How many hours do you sleep in a night?"

## Puzzle 2.2: Create a clean DataFrame

To do a two-sample z-test, every observation used **must contain data for BOTH** questions.  To clean up the DataFrame, we will need to do two steps:

1. Create a DataFrame that contains ONLY the two columns we're working with, AND
2. Drop any observations that have missing values in either column

First, create a DataFrame called `df_2columns` containing only the two columns you identified above:

*(If you need to refresh your memory on how to select multiple columns from a DataFrame, see our guide: ["Working With Columns and Series in a DataFrame", specifically the "Multiple Columns" section](https://discovery.cs.illinois.edu/guides/DataFrame-Fundamentals/working-with-columns-and-series-in-dataframes/#Creating-a-DataFrame-With-a-Subset-of-Columns).)*

In [ ]:
df_2columns = df_hello[[morning_vs_night_question, hours_of_sleep_question]]
df_2columns

,Are you a morning person or a night person?,How many hours do you sleep in a night?
0,Night,6.0
1,Night,7.0
2,Morning,6.0
3,Night,8.0
4,Night,7.0
...,...,...
1089,Night,7.5
1090,Night,5.0
1091,Night,6.0
1092,Night,7.0
1093,Night,8.0

### Drop the Rows with Missing Data

Create a DataFrame called `df_clean`, by taking `df_2columns` and using `.dropna()` to drop all rows with missing data:

In [49]:
df_clean = df_2columns.dropna()
df_clean

,Are you a morning person or a night person?,How many hours do you sleep in a night?
0,Night,6.0
1,Night,7.0
2,Morning,6.0
3,Night,8.0
4,Night,7.0
...,...,...
1089,Night,7.5
1090,Night,5.0
1091,Night,6.0
1092,Night,7.0
1093,Night,8.0

### üî¨ Test Case Checkpoint üî¨

In [50]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert('hours_of_sleep_question' in vars()), "You must define the `hours_of_sleep_question` question."
assert('morning_vs_night_question' in vars()), "You must define the `morning_vs_night_question` question."
assert('df_clean' in vars()), "Your new DataFrame should be named df_clean."

assert(hours_of_sleep_question in df_clean), "Your DataFrame must contain the `hours_of_sleep_question`."
assert(morning_vs_night_question in df_clean), "Your DataFrame must contain the `morning_vs_night_question`."
assert(len(df_clean.columns) == 2), "Your DataFrame must contain only two columns."

assert(math.isclose(df_clean[hours_of_sleep_question].std(), 1.1099151718063796)), "Double check the column question text you've defined in 'hours_of_sleep_question'." 

assert(df_clean[hours_of_sleep_question].isnull().any() == False), "There are still NaN values in the credits_question column."
assert(df_clean[morning_vs_night_question].isnull().any() == False), "There are still NaN values in the happiness_question column."

assert(len(df_clean) == 1088), "Your DataFrame should contain exactly 1088 rows after dropping data."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

## Puzzle 2.3: Creating our Two Subpopulations

Now that we have cleaned our columns in `df_clean`, we can continue with our z-test setup. 

For this, we will consider the cohort of everyone who said they were a **morning person** and everyone who said they were a **night person**.

Using your `morning_vs_night_question` variable, create **two** new `DataFrames`: 
- `df_morning`, containing the rows from `df_clean` with students who are **morning people**.
- `df_night`, containing the rows from `df_clean` with students who are **night people**.

In [ ]:
df_morning = df_clean[df_clean[morning_vs_night_question] == "Morning"]

df_morning

,Are you a morning person or a night person?,How many hours do you sleep in a night?
2,Morning,6.0
5,Morning,8.0
6,Morning,8.0
7,Morning,7.0
8,Morning,7.0
...,...,...
1066,Morning,7.0
1070,Morning,8.0
1072,Morning,8.0
1080,Morning,8.0
1084,Morning,7.0

In [54]:
df_night = df_clean[df_clean[morning_vs_night_question] == "Night"]
df_night

,Are you a morning person or a night person?,How many hours do you sleep in a night?
0,Night,6.0
1,Night,7.0
3,Night,8.0
4,Night,7.0
9,Night,8.0
...,...,...
1089,Night,7.5
1090,Night,5.0
1091,Night,6.0
1092,Night,7.0
1093,Night,8.0

In [55]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert('df_morning' in vars()), "Your new DataFrame should be named df_morning."
assert('df_night' in vars()), "Your new DataFrame should be named df_night."
assert(len(df_morning) == 298), "Double check that your bounds for df_morning is correct."
assert(len(df_night) == 790), "Double check that your bounds for df_night is correct."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

## Puzzle 2.4: Conducting the Test
Now we have the samples we need for our **two-sample z-test**.

Now, let's run the our z-test! Using the cell below, call the `ztest()` function to conduct our z-test and store the results in the variable `morning_night_results`.

- Hint: See the documentation on the z-test to see how to do a two sample z-test if you forgot! It's very similar to the one-sample z-tests we did in the previous puzzles!  https://www.statsmodels.org/dev/generated/statsmodels.stats.weightstats.ztest.html
- When choosing the order of your lists and the `alternative` parameter for the `ztest()` function, know that your choice for the `alternative` parameter will be the relationship of your **first list** to your **second list**.

‚ùó ‚ùó This is now on YOU as a Data Scientist ‚ùó ‚ùó
- In STAT 207, you will have no test cases, so we want to get you ready for being a data scientist without the reliance of test cases.
- For this last piece of code, there is NO test case.
- Instead, it's up to you to make certain your answer is reasonable (ex: verify the average value of the two datasets support your conclusion, etc).  As noted, your `alternative` parameter will differ depending on the order of your lists.

In [ ]:
morning_night_results = ztest(df_night[hours_of_sleep_question], df_morning[hours_of_sleep_question], alternative='smaller')
morning_night_results

(np.float64(-2.4635315914907157), np.float64(0.0068787885489767445))

### Analysis: Interpretation 
**Q4: We have now calculated the p-value for our hypothesis test. Do we reject the null hypothesis? Why or why not? What does this mean in the context of our original statement that *"night owls stay up very late (but still have to get up early for classes) and will get less sleep than morning people"*.**

Remember, our significance level is $0.05$.

Given that we've calculated a **p-value** $=0.0069 < 0.05$, we may reject the null hypothesis. We have sufficient evidence to condlude that night owls get less sleep than morning people; they go to sleep later than morning people but still have to get up early for classes, and thus do not get more or the same sleep as morning people.

<hr style="color: #DD3403;">

## Puzzle 3: How many credit hours are DISCOVERY students taking?

Let's explore another hypothesis test!

One question you answered in ths Hello Survey is "*How many credit hours are you taking?*"  You know that the professors think that DISCOVERY students are usually in 16 credit hours, but you think students are actually in **MORE** credit hours than 16!

### Defining Our Hypotheses
**Q5: Define the null and alternative hypotheses using the cell below. Remember, we assume the average college student takes 16 credit hours each semester. You believe UIUC students may take *MORE*. Think about whether or not this is a one-sided or two-sided test.**

Null hypothesis: The average number of credit hours taken by discovery students is 16 credit hours.

$H_0$: $\mu = 16$

Alternative hypothesis: The average number of credit hours taken by discovery students is **more** than 16 credit hours.

$H_a$: $\mu > 16$

## Puzzle 3.1: Find the Column 

Using the `credit_hours_question` provided below, access the column that contains the number of credit hours in the DataFrame.  Your answer should be a vertical list of all the responses for credit hours:

In [63]:
# The question we asked on the Hello Survey:
credit_hours_question = "How many credit hours are you taking?"

# Using `credit_hours_question`, access the column that contains the number credit hours in the DataFrame:
df_credit_hours = df_hello[credit_hours_question]
df_credit_hours

0        0.0
1        NaN
2       17.0
3       12.0
4       16.0
        ...
1089    17.0
1090    18.0
1091    17.0
1092    13.0
1093    18.0
Name: How many credit hours are you taking?, Length: 1094, dtype: float64

## Puzzle 3.2: Conducting the Hypothesis Test

Now we have everything ready to conduct our **z-test**. 

Using the cell below, conduct the z-test to determine whether students at UIUC take **more than 16 credit hours per semester on average** and store the results in the variable `course_results`.

- **Remember**, when doing the test, you'll want to use `df["column"].dropna()` to make sure to not include any `NaN values` since this z-test requires that there are no missing values.
- You will need to use the `ztest` function. You may need to refer to the documentation to find out how to specify the correct alternative parameter (https://www.statsmodels.org/dev/generated/statsmodels.stats.weightstats.ztest.html).

In [64]:
df_credit_hours = df_credit_hours.dropna()
course_results =  ztest(df_credit_hours, value=16, alternative='larger')
course_results

(np.float64(0.40006552505607174), np.float64(0.3445541277843334))

### üî¨ Test Case Checkpoint üî¨

In [65]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert('course_results' in vars()), "Double check your variable name for z-test result. It should be named 'course_results'."
assert(math.isclose(course_results[0], 0.40006552505607174)), "The z-stat of your z-test is incorrect."
assert(math.isclose(course_results[1], 0.3445541277843334)), "The p-value of your z-test is incorrect."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

### Analysis: Interpretation 
**Q6: We have now calculated the p-value for our hypothesis test. Do we reject the null hypothesis? Explain why or why not. Make sure to explain what this means in the context of our original question. Make sure you answer *all* parts of this question.** 

Remember, our significance level is $0.05$.

z-stat: 0.40006552505607174

p-value: 0.3445541277843334

Since the p-value $=0.344 > 0.05$, we fail to reject the null hypothesis. We do not have enough evidence to conclude that the average amount of credit hours discovery students take is more than 16 hours..

<hr style="color: #DD3403;">

# Submission

You're almost done!  All you need to do is to commit your lab to GitHub:

1.  ‚ö†Ô∏è **Make certain to save your work.** ‚ö†Ô∏è To do this, go to **File => Save All**

2.  After you have saved, exit this notebook and follow the Canvas instructions to commit this lab to your Git repository!

3. Your TA will grade your submission and provide you feedback after the lab is due. :)